<app-section [eyebrow]="t().about.eyebrow" [title]="t().about.title">
  <div class="about__grid">
    <div class="about__bio">
      <p>{{ t().about.description }}</p>
      <ul class="about__stats">
        <li class="about__stats-item" *ngFor="let item of t().about.highlights">
          <span class="about__stats-value">{{ item.label }}</span>
          <span class="about__stats-note">{{ item.note }}</span>
        </li>
      </ul>
    </div>
    <div class="about__values">
      <app-card *ngFor="let value of t().about.values" [title]="value.title">
        <p>{{ value.description }}</p>
      </app-card>
    </div>
  </div>
</app-section>
