<app-section eyebrow="Kim jestem" title="Angular Developer z sercem do jakości">
  <div class="about__grid">
    <div class="about__bio">
      <p>
        Jestem Angular developerem nastawionym na produkt. Łączę Signals, NgRx i SSR, by tworzyć aplikacje szybkie, stabilne i
        łatwe w utrzymaniu. Wspieram zespoły w projektowaniu architektury, warsztatach i wdrażaniu dobrych praktyk.
      </p>
      <ul class="about__stats">
        <li *ngFor="let item of highlights">
          <span class="about__stats-value">{{ item.label }}</span>
          <span class="about__stats-note">{{ item.note }}</span>
        </li>
      </ul>
    </div>
    <div class="about__values">
      <app-card *ngFor="let value of values" [title]="value.title">
        <p>{{ value.description }}</p>
      </app-card>
    </div>
  </div>
</app-section>
